---
import Layout from '../layouts/Layout.astro';
import Header from '../components/HeaderContent.astro';
import NavBar from '../components/NavBar.astro';
import AboutUs from '../components/AboutUs.astro';
import Services from  '../components/Services.astro';
---

<Layout title="Que sume +">
	<main>
		<Header />
		<NavBar /> 
		<AboutUs />
		<Services />
	</main>
</Layout>

</style>
