---
import Layout from '../layouts/Layout.astro';
import Header from '../components/HeaderContent.astro';
import NavBar from '../components/NavBar.astro';
import AboutUs from '../components/AboutUs.astro';
import Services from  '../components/Services.astro';
import Clients from '../components/Clients.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Que sume +">
	<main>
		<Header />
		<NavBar /> 
		<AboutUs />
		<Services />
		<Clients />
		<Contact />
		<Footer />
		
	</main>
</Layout>

</style>
