---
---

<article id="aboutUs">
    <h3 class="aboutText">Somos un equipo de amigos profesionales, en constante estudio y actualización.
        combinando sus conocimientos para ofrecer soluciones.
        con el fin de posicionarlas y generar mayor visibilidad.</h3>

</article>

<style>
    article{
        height: 300vh;
    }

    .aboutText{
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
</style>