---
import { Image } from "astro:assets"
import playIcon from '/src/assets/playVideo.svg';
---

<article id="aboutUs">
        <h3 class="aboutText">
<pre>Somos un <mark>equipo de amigos profesionales</mark>,
en constante estudio y actualización.
combinando sus conocimientos
<mark>para ofrecer soluciones</mark>.
Con el fin de posicionarlas y 
<mark>generar mayor visibilidad</mark>.</pre></h3>
    <div class="backgroundElipse"></div>
    <div class="videoContainer">
        <button id="playButton" class="videoButton">
            <p class="videoText">Conocenos mejor</p>
            <Image src={playIcon} alt="Play Icon" loading="eager" width={80} height={80}/>
        </button>
    </div> 
    <video id="presentationVideo" controls>
        <source src="/src/assets/videos/landing_enero24.mp4" type="video/mp4">
        Tu navegador no soporta el video
    </video>  
</article>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var video :HTMLVideoElement = document.getElementById('presentationVideo') as HTMLVideoElement;
        var playButton :HTMLButtonElement = document.getElementById('playButton') as HTMLButtonElement;
        playButton.addEventListener('click', function () {
            video.play();
            video.style.width = '100%';
            playButton.style.display = 'none';
        });
    });
</script>

<style>
    #aboutUs{
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aboutText{
        text-align: center;
        font-family: var(--bodyFont);
        font-size: var(--bodySize);
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-block: 0;
    }

    .aboutText > pre{
        font-family: var(--bodyFont);
    }

    .backgroundElipse{
        position: absolute;
        margin-top: 30px;
        background-color: var(--tertiaryColor);
        box-shadow: 0px -4px 10px rgba(0,0,0, 0.35);
        border-radius: 50%;
        width: 85vw;
        height: 85vw;
        z-index: -1;
    }

    .videoContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        margin-bottom: 16px;
    }

    .videoButton{
        background-color: black;
        border: 3px solid var(--primaryColor);
        padding: 8px 0 24px 0;
        width: 100%;
        height: 150px;
        border-radius: 10px;
    }

    .videoText{
        color: var(--primaryColor);
        margin-block: 0;
        font-size: calc(var(--bodySize) + 4px);
        font-weight: bold;
    }

    #presentationVideo{
        width: 0;
        transition: width 500ms ease-in-out;
    }

    @media only screen and (min-width: 600px) {
        .videoButton{
            height: 200px;
        }
    }

    @media only screen and (min-width: 1000px) {
        .videoButton{
            height: 300px;
        }

        .videoButton > img{
            width: 140px;
            height: 140px;
        }
    }

</style>