---
import { Image } from "astro:assets"
import playIcon from '/src/assets/playVideo.svg';
---

<article id="aboutUs">
        <h3 class="aboutText">
<pre>Somos un <mark>equipo de amigos profesionales</mark>,
en constante estudio y actualización.
combinando sus conocimientos
<mark>para ofrecer soluciones</mark>.
Con el fin de posicionarlas y 
<mark>generar mayor visibilidad</mark>.</pre></h3>
    <div class="backgroundElipse"></div>
    <div class="videoContainer">
        <button class="videoButton">
            <p class="videoText">Conocenos mejor</p>
            <Image src={playIcon} alt="Play Icon" loading="eager" width={80} height={80}/>
        </button>    
    </div> 
</article>

<style>
    #aboutUs{
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aboutText{
        text-align: center;
        font-family: var(--bodyFont);
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-block: 0;
    }

    .aboutText > pre{
        font-family: var(--bodyFont);
    }

    .backgroundElipse{
        position: absolute;
        margin-top: 30px;
        background-color: var(--tertiaryColor);
        box-shadow: 0px -4px 10px rgba(0,0,0, 0.35);
        border-radius: 50%;
        width: 85vw;
        height: 85vw;
        z-index: -1;
    }

    .videoContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin-bottom: 16px;
    }

    .videoButton{
        background-color: black;
        padding: 8px 0 24px 0;
        width: 100%;
        border-radius: 10px;
    }

    .videoText{
        color: var(--primaryColor);
        margin-block: 0;
        font-size: 1.2rem;
        font-weight: bold;
    }
</style>