---
---

<footer>
    <p>Copyright © 2024 Sitio creado por Benjamín Fisico</p>
</footer>

<style>
    p{
        font-family: var(--bodyFont);
        font-size: 0.7rem;
        text-align: center;
    }
</style>