---
import { Image } from "astro:assets"
import logo  from "/src/assets/ownImages/QUE-SUME-LOGO.svg";

---
<header>
    <h1 class="titleWeb">que<b>sume</b></h1>
    <Image class="logo" src={logo} alt="Logo de que sume más" loading="eager" />
    <h2 class="subTitle">Inovación y marketing</h2>
</header>

<style>
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 120vh;
    }

    .titleWeb{
        font-family: var(--bodyFont);
        font-size: var(--titleSize);
        margin-block-end: 8px;
        font-weight: 100;
    }
    
    .titleWeb::after{
        content: '+';
        color: var(--primaryColor);
        font-size: calc(var(--titleSize) + 1.5rem);
        font-weight: 900;
        position: relative;
        bottom: 12px;
        right: 8px;
    }

    .titleWeb b{
        font-weight: 900;
        font-size: calc(var(--titleSize) + 8px);
    }

    .logo{
        border-radius: 60px;
        box-shadow: 4px 4px 25px 0 rgba(0, 0, 0, 0.25), -4px -4px 25px 0 rgba(0, 0, 0, 0.25);
        width: 200px;
        height: 200px;
        z-index: 0;
        animation: sutilDown ease-in-out;
        animation-timeline: scroll();
        animation-range: 0 70vh;
    }

    .subTitle{
        font-size: calc(var(--bodySize) * 2);
        z-index: 1;
        margin-bottom: 25vh;
    }

    @keyframes sutilDown {
        from {transform: translateY(0); }
        to{ transform: translateY(80px); }
    }

    @media only screen and (min-width: 1000px){
        header{
            justify-content: flex-start;
        }


        .logo{
            width: 350px;
            height: 350px;
        }
    }


</style>