---
---

<article id="services">
    <h2 class="servicesText">servicios</h2>
    <p class="subtitleText">nos centramos en escuchar detenidamente las necesidades de cada cliente, armar un plan estratégico a medida y trabajar para lograr los mejores resultados.</p>
    <div class="servicesContainer">
        <div class="service">
            <h2 class="servicesText">Branding</h2>
            <p class="subtitleText">Te ayudamos a crear el <mark>universo visual</mark> de tu marca con el objetivo de <mark>conquistar la mente y el  corazón del consumidor.</mark></p>
        </div>
        <div class="service">
            <h2 class="servicesText">Community manager</h2>
            <p class="subtitleText"><mark>Tu tiempo es muy valioso,</mark> nos encargamos de todas tus redes. <mark>¿estas listo para hacer crecer tu marca?</mark></p>
        </div>
        <div class="service">
            <h2 class="servicesText">Anuncios</h2>
            <p class="subtitleText"><mark>Incrementemos</mark> juntos <mark>la visibilidad y el engagement.</mark> Encontremos la <mark>audiencia adecuada</mark> para llegar a <mark>clientes relevantes.</mark></p>
        </div>
        <div class="service">
            <h2 class="servicesText">Web | E-Commerce</h2>
            <p class="subtitleText">La web es tu vidriera en el mundo online, <mark>ideamos el plan ideal para vos</mark></p>
        </div>
        <div class="service">
            <h2 class="servicesText">Producciones</h2>
            <p class="subtitleText">Combinamos <mark>creatividad y contenido de calidad</mark> para mostrar todo el potencial que tiene tu proyecto</p>
        </div>
        <div class="service">
            <h2 class="servicesText">Consultoria</h2>
            <p class="subtitleText"><mark>Te asesoramos y guiamos para</mark> destrabar eso que “no sabés qué es” y hará <mark>que tu marca despegue.</mark></p>
        </div>
    </div>
</article>

<style>
    #services{
        background-color: black;
    }

    .servicesText{
        text-align: center;
        font-family: var(--titleFont);
        font-size: var(--titleSize);
        color: var(--backgroundColor);
        margin-block: 0;
    }

    .subtitleText{
        text-align: center;
        font-family: var(--bodyFont);
        font-size: var(--bodySize);
        color: var(--backgroundColor);
        margin-block: 0;
    }

    .servicesContainer{
        padding: 100px 0;
    }

    .service{
        margin: 32px 0;
        padding-bottom: 16px;
        border-bottom: 5px dashed var(--backgroundColor);
    }


</style>