---
---

<article id="services">
    <h2 class="servicesText">servicios</h2>
    <p class="subtitleText">nos centramos en escuchar detenidamente las necesidades de cada cliente, armar un plan estratégico a medida y trabajar para lograr los mejores resultados.</p>
</article>

<style>
    #services{
        height: 100vh;
        background-color: black;
    }

    .servicesText{
        text-align: center;
        font-family: var(--titleFont);
        font-size: var(--titleSize);
        color: var(--backgroundColor);
        margin-block: 0;
    }

    .subtitleText{
        text-align: center;
        font-family: var(--bodyFont);
        font-size: var(--bodySize);
        color: var(--backgroundColor);
        margin-block: 0;
    }


</style>