---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face{
        font-family: "Bebas Neue";
        src: url('fonts/BebasNeue-Regular.ttf');
		font-display: swap;
    }

	@font-face{
        font-family: "Montserrat Alternates";
        src: url('fonts/MontserratAlternates-Regular.ttf');
		font-display: swap;
    }

	:root {
		--titleFont: "Bebas Neue", serif;
		--bodyFont: "Montserrat Alternates";
		--primaryColor: #F9E217;
		--secondaryColor: #000000;
		--tertiaryColor: #EFEFEF;
		--backgroundColor: #FFFFFF;
		--titleSize: 3rem;
		--bodySize: 1rem;
		--screenSize: 480px;
		scroll-behavior: smooth;
	}

	body{
		margin: 0;
	}

	main{
		width: var(--screenSize);
		font-family: var(--body-Font);
	}

	html {
		background: var(--backgroundColor);
		font-size: 16px;
	}

	mark{
		background-color: var(--primaryColor);
	}

	.title{
		text-align: center;
        font-family: var(--titleFont);
        font-size: var(--titleSize);
		margin-block: 0;
	}

	.subtitleText{
        text-align: center;
        font-family: var(--bodyFont);
        font-size: var(--bodySize);
        margin-block: 0;
    }

	@media only screen and (min-width: 481px) {
		:root{
			--screenSize: 768px;
			--titleSize: 4rem;
			--bodySize: 1.5rem;
		}
	}

	@media only screen and (min-width: 769px) {
		:root{
			--screenSize: 1200px;
			--bodySize: 1.5rem;
		}
	}

</style>
