---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
        font-family: "BebasNeue";
        src: url('/fonts/BebasNeue-Regular.ttf') format("ttf");
		font-display: swap;
    }

	@font-face {
        font-family: "MontserratAlternates";
        src: url('/fonts/MontserratAlternates-Regular.ttf') format("ttf");
		font-display: swap;
    }

	:root {
		--titleFont: "BebasNeue";
		--bodyFont: "MontserratAlternates";
		--fristColor: #F9E217;
		--secondColor: #000000;
		--thirdColor: #EFEFEF;
		--titleSize: 3rem;
		--bodySize: 1rem;
		--screenSize: 480px;
	}

	main{
		width: var(--screenSize);
	}

	html {
		background: #13151a;
		font-size: 16px;
	}

	@media only screen and (min-width: 481px) {
		:root{
			--screenSize: 768px;
			--titleSize: 4rem;
		}
	}

	@media only screen and (min-width: 769px) {
		:root{
			--screenSize: 1200px;
			--bodySize: 1.5rem;
		}
	}

</style>
